.btn-primary i{
    color: #fff
}
.btn-primary{
    background-image: linear-gradient(#87ebf4, #39b5ce);
    border: 1px solid #2aacc8;
    border-radius: 5px;
    color: #000
}
.map-container{
    background-color: #e8fcfe;
    padding: 20px 30px;
    border-top: 1px solid #39b5ce;
    border-bottom: 1px solid #39b5ce;
}
#map {
    height: 200px;
}
.contact .contact-us h4{
    text-transform: uppercase;
    margin-top: 50px
}
.contact header{
    border-bottom: 1px solid #ccc
}
.contact header i{
    color: #39b5ce
}
.contact header h1{
    text-transform: uppercase;
    font-size: 15px
}